/* General styles */
.favorite-list {
  display: block;
  margin-top: 24px;
}

.favorite-list .recipe-item {
  margin-bottom: 24px;
  width: 335px;
  height: 335px;
  margin-left: auto;
  margin-right: auto;
}

.empty-storage {
  display: block;
  text-align: center;
  margin-top: 164px;
  font-size: 14px;
  color: var(--primaty-black-color);
}

.cook-hat {
  width: 68px;
  height: 58px;
  margin-bottom: 24px;
  stroke: none;
}

.favorite-categories {
  margin-top: 64px;
  margin-bottom: 24px;
  display: flex;
  overflow-y: hidden;
  gap: 12px;
}

.favorite-categories::-webkit-scrollbar {
  display: none;
}

.rendered-buttons {
  display: flex;
}

.button-fav {
  max-width: 100%;
  height: 46px;
  border-radius: 15px;
  font-size: 14px;
  color: rgba(5, 5, 5, 0.7);
  padding: 14px 18px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(5, 5, 5, 0.2);
  outline: none;
  cursor: pointer;
}

.dark .button-fav {
  color: rgba(255, 255, 255, 0.5);
  background-color: inherit;
  border-color: rgba(255, 255, 255, 0.5);
}

.button-fav.onActive,
.all-btn.onActive {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.button-fav:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: var(--accent-color);
}

.list {
  list-style: none;
}

/* Responsive styles */

@media screen and (min-width: 768px) {
  .favorite-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 64px;
  }

  .favorite-list .recipe-item {
    margin-left: 0;
    margin-right: 0;
    width: 224px;
    height: 244px;
  }

  .cook-hat {
    width: 97px;
    height: 83px;
    margin-bottom: 32px;
  }

  .empty-storage {
    display: block;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
  }

  .empty-storage-txt {
    width: 481px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 16px;
    color: var(--primary-color);
  }

  .button-fav {
    max-width: 100%;
    height: 46px;
    border-radius: 15px;
    font-size: 14px;
    color: var(--primary-color-03);
    padding: 14px 18px;
    background-color: var(--background);
    border: 1px solid var(--primary-color-02);
    outline: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .favorite-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }

  .favorite-list .recipe-item {
    width: 258px;
    height: 287px;
  }
}

/* Additional styles for hiding elements */
.is-hidden {
  display: none;
}
