.link {
  text-decoration: none;
}
.nav-link.current {
  color: var(--accent-color);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
.logo-header {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.64px;
  color: var(--accent-color);
}
.logo-color {
  color: var(--primaty-black-color);
}
.shopping-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.shopping-icon {
  fill: transparent;
  stroke: var(--primaty-black-color);
}
.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-menu-icon {
  width: 32px;
  height: 32px;
  stroke: var(--primaty-black-color);
}
.header-btn-box {
  display: flex;
  align-items: center;
  gap: 14px;
}
.input-switcher[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.input-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 46px;
  height: 20px;
  background: #cecdcd;
  display: block;
  border-radius: 18px;
  position: relative;
}

.input-label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: var(--text-white-color);
  border-radius: 18px;
  transition: 0.3s;
}

.input-switcher:checked + .input-label {
  background: #9bb537;
}

.input-switcher:checked + .input-label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.input-label:active:after {
  width: 26px;
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  position: fixed;
  width: 40%;
  min-width: 220px;
  height: 100%;
  top: 0;
  right: 0;

  padding-top: 200px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  background-color: var(--accent-color);
  z-index: 999;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out,
    transform 250ms ease-in-out;
  transform: translateX(-100%);
}
.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}
.block {
  overflow: hidden;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--primary-white-color);
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu .nav-link {
  display: block;
  padding: 0 50px 16px 50px;
  color: var(--primary-white-color);
  text-decoration: none;
  text-align: center;
}
.theme-switcher.burger {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Медіа запити */
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .theme-switcher.main {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-header {
    padding-top: 30px;
  }
  .burger-menu {
    display: none;
  }
  .theme-switcher {
    height: 20px;
  }
  .header-btn-box {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .nav-link {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    color: var(--primaty-black-color);
  }
  .nav-link.active.link {
    color: var(--primaty-black-color);
  }
  .shopping-icon:hover,
  .shopping-icon:focus {
    fill: transparent;
    stroke: var(--accent-color);
  }
  .shopping-icon {
    transition: stroke 250ms ease-in-out;
  }

  .logo-header {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-header {
    padding-top: 42px;
  }
  .header-btn-box {
    gap: 18px;
  }
}
