.hero {
  min-width: 0;
}

.hero-section {
  margin-bottom: 80px;
}


.hero-heading {
  padding-top: 49px;
  max-width: 320px;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 14px;
  color:#050505;
}


.hero-heading-span {
  color:  #9bb537;
  font-style: italic;
  font-family: Arial, sans-serif;
  font-weight: 400;
}


.hero-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 28px;
}


.hero-order-btn:hover {
  color: #f7f7f7;
  background-color: #9bb537;
}


.hero-order-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 1px solid #9BB537;
  background-color: transparent;

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  transition: all 300ms ease;
}


@media screen and (min-width: 768px) {
  .hero-heading {
      max-width: 446px;
      font-size: 36px;
      margin-bottom: 16px;
  }

  .hero-description {
      max-width: 408px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 32px;
  }

  .hero-order-btn {
      display: inline-flex;
      padding: 14px 28px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-radius: 15px;
      border: 1px solid #9BB537;
      background-color: transparent;

      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      transition: all 300ms ease;
  }

}


@media screen and (min-width: 1280px) {
  .hero-section {
      padding-left: 99px;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
  }


  .hero {
      min-width: 0;
      display: flex;
      justify-content: space-between;
      gap: 32px;
  }

  .hero .container {
      padding-right: 0;
      padding-left: 0;
      min-width: 446px;
  }

  .swiper-container {
      margin-top: 0px;
  }

  .hero-left {
      margin-top: 64px;
  }



  @media screen and (min-width: 1450px) {
      .hero-left {
          margin-top: 64px;
      }
  }
}