.backdrop-order {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.backdrop-order.active {
  visibility: visible;
  opacity: 1;
}

.modal-order {
  width: 335px;
  background-color: var(--background-menu);
  padding: 28px 20px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  visibility: hidden;
}

.modal-order.active {
  visibility: visible;
  opacity: 1;
}
.order-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-icon-close {
  display: inline-block;
  stroke-width: 0;
  stroke: var(--primary-color);
}

.order-icon-close:hover,
.order-icon-close:focus {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.order-btn {
  width: 100%;
  height: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--text-white-color);
  border-radius: 15px;
  cursor: pointer;
  transition: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--accent-color);
  color: var(--primaty-black-color);
  border: 1px solid var(--accent-color);
}

.contact-modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(22 / 18);
  display: block;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 54px;
}
.contact-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-bottom: 40px;
}

/* ///////////////// */
@media screen and (min-width: 768px) {
  .modal-order {
    width: 440px;
    padding: 40px;
  }
  .contact-modal-title {
    margin-bottom: 66px;
  }
  .contact-field-wrapper {
    gap: 44px;
  }
}

.input-box {
  position: relative;
}
.order-input-label {
  position: absolute;
  top: -8px;
  transform: translateY(-100%);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: block;
  color: var(--primary-color-05);

  transition: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field {
  display: block;

  border: 1px solid var(--primary-color-02);
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(15 / 12);
  padding: 9px 26px 9px 11px;
  color: var(--primaty-color);
  background-color: var(--background-menu);
  width: 100%;
  outline: none;
  transition: border-color 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field-textarea {
  resize: vertical;
}
.input-field::placeholder {
  color: var(--primaty-black-color);
}
.input-field:focus,
.input-field:focus-visible {
  border-color: var(--primaty-black-color);
}
.input-warning-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.error,
.correct {
  opacity: 0;
  transition: opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field::placeholder {
  color: rgba(5, 5, 5, 0.3);
}
/* VALID */
.input-field:not(:placeholder-shown):valid:required {
  border-color: #3cbc81;
}

.input-field:not(:placeholder-shown):valid:required
  ~ .input-warning-icon
  > .correct {
  opacity: 1;
}
.input-field:not(:placeholder-shown):valid:required + .order-input-label {
  color: #3cbc81;
}
/* INVALID */
.input-field:not(:placeholder-shown):invalid:required {
  border-color: #e74a3b;
}

.input-field:not(:placeholder-shown):invalid:required
  ~ .input-warning-icon
  > .error {
  opacity: 1;
}
.input-field:not(:placeholder-shown):invalid:required + .order-input-label {
  color: #e74a3b;
}

@media screen and (min-width: 768px) {
  .order-input-label {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
  .input-field {
    font-size: 14px;
    line-height: calc(17 / 14);
    padding: 15px 36px 15px 15px;
  }
  .input-warning-icon {
    right: 16px;
    width: 20px;
    height: 20px;
  }
}
