/* Rating-modal */

.is-hidden-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal-rating {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 335px;
  height: 216px;

  padding: 20px;

  background-color: var(--background-menu);

  border-radius: 15px;
}
.modal-rating-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #00000000;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
}
.modal-rating-close-icon {
  stroke: var(--primary-color);
  fill: rgba(5, 5, 5, 0.5);
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .modal-rating {
    width: 424px;
    height: 254px;

    padding: 32px;
  }
}
.modal-rating-title {
  color: var(--primary-color);
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}
.modal-rating-list {
  position: absolute;
  top: 40px;
  left: 50px;
  display: flex;
  gap: 2px;
  color: #d9d9d9;
  transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 768px) {
  .modal-rating-list {
    top: 50px;
    left: 65px;
  }
}
.modal-rating-star-item {
  transition: color 2500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-rating-list:hover {
  color: rgba(238, 161, 12, 0.5);
}

.modal-rating-star-item:hover ~ .modal-rating-star-item {
  color: #d9d9d9;
}
.modal-rating-star-btn {
  padding: 0;
  background: transparent;
  color: inherit;
  border: none;
}

.modal-rating-formfield {
  display: block;

  margin-bottom: 24px;
}

.modal-rating-formfield:last-of-type {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .modal-rating-formfield {
    margin-bottom: 32px;
  }

  .modal-rating-formfield:last-of-type {
    margin-bottom: 16px;
  }
}
.modal-rating-span {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.rating-range-input {
  display: none;
}

.rating-email-input {
  width: 100%;
  height: 46px;
  padding: 14px 18px;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 15px;
  transition: border-color 250ms linear;
}
.rating-email-input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.rating-email-input:focus {
  outline: none;
}

.modal-rating-send-btn {
  width: 100%;

  padding: 15px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-size: 14px;
  line-height: 1.2;

  border: none;
  border-radius: 15px;

  transition: opacity 250ms linear;
}

.modal-rating-send-btn:disabled {
  opacity: 0.5;
  cursor: default;
}

  @media screen and (min-width: 768px) {
    .rating-email-input,
    .modal-rating-send-btn {
      height: 48px;
    }
    .modal-rating-star-item.is-rated {
      color: #eea10c;

      animation-name: rated;
      animation-duration: 500ms;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-iteration-count: 1;
    }
    @keyframes rated {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }

      0% {
        transform: scale(1);
      }
    }
  }
