.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-label {
  /* color: rgba(5, 5, 5, 0.5); */
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  margin-bottom: 8px;
  display: block;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: inherit;
  /* fill: rgba(5, 5, 5, 0.5); */
}

.search-icon img {
  width: 18px;
  height: 18px;
}

.search-input,
.list-time.list-filter,
.list-area.list-filter,
.list-ingred.list-filter {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.search-input {
  width: 295px;
  height: auto;
  padding: 14px 18px 14px 48px;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  box-sizing: border-box;

  background-color: inherit;
}

@media screen and (max-width: 767px) {
  .search-input {
    width: 335px;
  }
}

@media screen and (max-width: 767px) {
  .search-res-container {
    width: 335px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .search-res-container {
    width: 496px;
    min-height: 985px;
  }
}

@media screen and (min-width: 1280px) {
  .search-res-container {
    width: 782px;
    min-height: 728px;
  }
}

@media screen and (max-width: 767px) {
  .image-container {
    display: block;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .image-container {
    min-height: 844px;

    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .image-container {
    min-height: 908px;

    row-gap: 32px;
  }
}

.search-section {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.list-filter {
  height: 46px;
  color: rgba(5, 5, 5, 0.5);
  padding-left: 18px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  outline: none;
  box-sizing: border-box;
}

.list-time {
  width: 160px;
}

.list-area {
  width: 161px;
}

.list-ingred {
  width: 188px;
}

.select select {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .search-section {
    gap: 18px;
  }

  .list-time {
    width: 125px;
  }

  .list-area {
    width: 141px;
  }
}

@media screen and (min-width: 1280px) {
  .search-section {
    gap: 16px;
  }

  .search-input {
    width: 278px;
  }
}

/* spinner */

.spinner-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--accent-color);
  border-radius: 50%;
  animation: spin 3s linear infinite;
  align-self: flex-end;
}

.search-section {
  position: relative;
}

.search-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-section {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .input-section {
    gap: 14px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .search-res-container {
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  #spinner {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-25%, -50%);

    z-index: 1;
  }
}
/* item */
.main-title{
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.recipe-item {
  position: relative;

  display: flex;
  color: #f8f8f8;

  font-size: 12px;

  border-radius: 14px;
}

@media screen and (max-width: 1279px) {
  .recipe-item:nth-child(2n),
  .recipe-item:last-child {
    margin-right: 0;
  }

  .recipe-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .recipe-item {
    width: 335px;
    height: 335px;
  }

  .recipe-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .recipe-item {
    width: 240px;
    height: 264px;

    display: inline-flex;
    margin: 0 16px 16px 0;
  }
}

@media screen and (min-width: 1280px) {
  .recipe-item {
    width: 250px;
    height: 287px;

    margin: 0 16px 32px 0;
  }

  .recipe-item:nth-child(3n),
  .recipe-item:last-child {
    margin-right: 0;
  }

  .recipe-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.inter-box {
  margin-top: auto;

  padding: 0 16px 16px 16px;
}

.favorite-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  background: transparent;

  border: none;
}

@media screen and (max-width: 767px) {
  .favorite-btn {
    top: 16px;
    right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .favorite-btn {
    top: 18px;
    right: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .favorite-btn {
    top: 16px;
    right: 16px;
  }
}

.title-item {
  width: 218px;

  margin-bottom: 8px;

  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .title-item {
    width: 303px;
  }
}

@media screen and (min-width: 768px) {
  .title-item {
    width: 208px;
  }
}

@media screen and (min-width: 1280px) {
  .title-item {
    width: 218px;
  }
}

.title-descr {
  height: 30px;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .title-descr {
    width: 303px;
  }
}

@media screen and (min-width: 768px) {
  .title-descr {
    width: 208px;
  }
}

@media screen and (min-width: 1280px) {
  .title-descr {
    width: 218px;
  }
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rate-details-box {
  display: flex;
  align-items: center;
}

.rate {
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
}

.rate-list {
  display: flex;
  margin-right: auto;
}

.star-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .star-icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .star-icon {
    width: 18px;
    height: 18px;
  }
}

.rate-item-active {
  color: #eea10c;
}

.rate-item {
  color: rgba(248, 248, 248, 0.1);
}

.button.item-rec {
  padding: 8px 16px;

  background-color: #9bb537;
  color: #f8f8f8;
  border: none;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .button.item-rec {
    padding: 8px 10px;
  }
}

@media screen and (min-width: 1280px) {
  .button.item-rec {
    padding: 8px 16px;
  }
}

.heart-icon {
  transition: transform 250ms linear;
  fill: none;
}

.favorite-btn:hover .heart-icon {
  transform: scale(1.5);
}

.favorite-btn.active .heart-icon {
  fill: #f8f8f8;
}

.favorite-list .recipe-item {
  width: 258px;
  margin: 0;
}

.favorite-list .inter-box {
  width: inherit;
}