/* --primary-color
--background-menu
--primary-color-03
--primary-color-05
 --primary-color-02
 --primary-color-01
 --background-mob-menu
*/

:root[data-theme='light'] {
  --primary-color: #050505;
  --primary-color-08: rgba(5, 5, 5, 0.8);
  --primary-color-05: rgba(5, 5, 5, 0.5);
  --primary-color-03: rgba(5, 5, 5, 0.3);
  --primary-color-02: rgba(5, 5, 5, 0.2);
  --primary-color-01: rgba(5, 5, 5, 0.1);
  --primary-rating: #f8f8f8;
  --primary-modal-rating: rgba(5, 5, 5, 0.5);
  --primary-stars: rgba(248, 248, 248, 0.1);
  --primary-CardTitle-Description: #f8f8f8;
  --primary-raiting: #fff;
  --background-mob-menu: #9bb537;
  --background-menu: #fff;
  --background: #f8f8f8;
  --border-pag: #9bb537;
  --background-menu: #fff;
  --option-color:#fff;
}

:root[data-theme='dark'] {
  --primary-color: #fff;
  --primary-color-08: rgba(255, 255, 255, 0.8);
  --primary-color-05: rgba(255, 255, 255, 0.5);
  --primary-color-03: rgba(255, 255, 255, 0.3);
  --primary-color-02: rgba(255, 255, 255, 0.2);
  --primary-color-01: rgba(255, 255, 255, 0.1);
  --primary-rating: rgba(255, 255, 255, 0.5);
  --primary-modal-rating: rgba(255, 255, 255, 0.5);
  --primary--stars: rgba(255, 255, 255, 0.1);
  --primary-CardTitle-Description: rgba(255, 255, 255, 0.8);
  --primary-menu-mob: #f8f8f8;
  --primary-raiting: #1e1e1e;
  --background: #1e1e1e;
  --background-mob-menu: #050505;
  --border-pag: #9bb537;
  --background-menu: #050505;
  --option-color:#050505;
}
