<div class="container">
  <div class="search-res-container light-theme-add">
    <section class="input-section">
      <h2 style="display: none">Search</h2>
      <div class="wrapper">
        <div class="search-wrapper">
          <label for="search-input" class="search-label">Search</label>
          <div class="search-input-wrapper">
            <svg class="search-icon" width="15" height="15">
              <use href="./images/sprite.svg#search"></use>
            </svg>
            <input
              type="text"
              id="search-input"
              class="search-input"
              placeholder="Enter Text"
            />
          </div>
        </div>
      </div>
      <div>
        <label class="search-label">Time</label>
        <select class="list-time list-filter" id="select-time">
          <option value="">&nbsp;</option>
        </select>
      </div>
      <div>
        <label class="search-label">Area</label>
        <select class="list-area list-filter" id="select-area">
          <option value="">&nbsp;</option>
          <!-- Опції списку областей -->
        </select>
      </div>
      <div>
        <label class="search-label">Ingredients</label>
        <select class="list-ingred list-filter" id="select-ingred">
          <option value="">&nbsp;</option>
          <!-- Опції списку інгредієнтів -->
        </select>
      </div>

      <div id="spinner" class="spinner">
        <div class="spinner-icon"></div>
      </div>
    </section>

    <section>
      <h2 style="display: none">Recipes</h2>
      <div id="image-container" class="image-container"></div>
    </section>

    <div id="pagination" class="tui-pagination"></div>
  </div>

</div>