:root {
  /* White Theme */
  --primary-white-color: #ffffff;
  --primaty-black-color: #050505;
  --text-white-color: #f8f8f8;
  --accent-color: #9bb537;
  /* Dark Theme */
  --primary-dark-color: #1e1e1e;
}